h1 {
    text-align: center;
    font-size: 2em;
    margin-top: 2em;
    padding-top: .8em;
    padding-bottom: .8em;
    padding-left: 1.5em;
    padding-right: 1.5em
}

h2 {
    padding-top: 1em;
    margin-left: 1em;
}

#topH2 {
    padding-top: 1em;
}

h3 {
    margin-left: 1.4em
}

body {
    font-family: 'Muli';
    font-size: 1.2em;
    max-width: 1024px;
    margin: 0 auto;
    background: url(./images/Background.jpg) no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: center top;
}

p {
    padding: 0px;
    margin-left: 2em;
    margin-right: 2em;
}

img {
    width: 100%;
}

#videoElement {
    display: block; /*centers the video in the page*/
    margin:auto;
    max-width: 100%
}

.lastElement {
    margin-bottom: 0;
}

footer {
    margin: 0;
    text-align: center;
    padding-top: 0;
}

footer p {
    font-size: .7em;
    margin: 0;
    padding-top: 20px;
}

header, main, footer, h1, h2 {
    background-color: rgb(248, 242, 233); /* sets all of the middle of the page to the same background color */
}

 /* The navigation bar */
 .navbar {
    /* overflow: hidden; */
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    left: 0; /* makes nav bar start all the way to the left of the page */
    width: 100%; /* Full width */
  }

   nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  nav li {
    float: left;
  }

  nav li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  nav li a:hover, .dropdown:hover .dropbtn {
    background-color:#ddd;
    color: black;
  }

  nav li.dropdown {
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {background-color: #f1f1f1;}

  .dropdown:hover .dropdown-content {
    display: block;
  }
